@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body {
      @apply bg-[#07070f] text-white overflow-x-hidden font-inter-thin;
   }

   *::-webkit-scrollbar-thumb {
      @apply bg-red-400 w-0.5 rounded-full;
   }

   *::-webkit-scrollbar {
      @apply w-0;
   }

   section {
      @apply py-20;
   }
}

@layer components {
   .btn {
      @apply inline-flex justify-center px-8 py-3 rounded-full uppercase font-bold transition-all duration-300 ease-out;
   }
   .btn-primary {
      @apply bg-slate-100 text-black hover:bg-slate-300   transition-all duration-300 ease-out;
   }
}

.blob {
   background: conic-gradient(
      from 2.35rad,
      rgba(196, 99, 19, 0.5),
      rgba(7, 29, 228, 0.5)
   );
}

.linkContainer {
   perspective: 120px;
   perspective-origin: bottom;
}
